.container {
  width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,7,128,1) 0.1%, rgba(37,145,251,0.98) 99.8% );
}

.header h1 {
  font-size: 32px;
  height: 54px;
  line-height: 54px;
  width: 100%;
  color: white;
}

.header hr {
  border: none;
  border-top: 1px solid white;
}

.header p {
  height: 96px;
  font-size: 24px;
  line-height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: white;
}

.nav {
  width: 100%;
  height: calc(1 * 54px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-top: 1px solid gainsboro;
  background-color: ghostwhite;
  z-index: 99;
}

.nav ul {
  width: 100%;
  display: flex;
  gap: 16px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li {
  display: flex;
  width: 455px;
  gap: 10px;
}

.nav li:last-of-type {
  display: block;
  text-align: right;
}

.nav button {
  font-family: 'Lexend', sans-serif;
  background-image: linear-gradient(45deg, #0018A8 0%,#1F75FE 100%); /*Blue (Pantone) to Blue (Crayola)*/
  margin: 0px;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
  line-height: 24px;
}

.nav button:active {
  transform: scale(.9);
}

.nav input {
  display: block;
  margin: 0;
  padding: 4px 12px;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  transition: .4s;
}

.nav input::placeholder {
  color: #B0BEC5;
}

.nav input:focus {
  outline: none;
  box-shadow: 2px 4px 16px gainsboro;
}

.options {
  position: relative;
  display: inline-block;
}

.options span {
  width: 455px;
  display: flex;
  gap: 10px;

}

.filters {
  display: block;
  position: absolute;
  background-color: ghostwhite;
  width: 100%;
  height: 455px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 101;
  top: 47px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filters button {
  font-family: 'Lexend', sans-serif;
  background: blue;
  margin: 0px;
  padding: 8px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
}

.filters .on {
  background:blue;
  color: white;
}

.filters .off {
  background: white;
  color: blue;
}

.filters .disabled {
  background: white;
  color: gainsboro;
}

.filters .date {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.filters .location {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.main {
  opacity: 1;
  transition: all 1s;
}

.fade {
  opacity: .25;
  color: gainsboro;
  transition: all .2s;
}

@keyframes open {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.suggestions {
  animation: open 1.8s linear;
  font-size: 12px;
}

.container2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 1140px;
  padding: 10px;
  margin: 0 auto;
}

.cards {
  width: 455px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.cards article {
  width: 455px;
  height: 128px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .selected {
  border-left: 8px solid #0018A8;
  transition: all .2s;
}

.jobtitle {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.companyname {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location {
  font-size: 16px;
  font-weight: 400;
}

.info {
  width: 100%;
  height: calc(100vh - 74px);
  position: sticky;
  top: 64px;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.info::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.info header {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  border-bottom: 1px dashed gainsboro;
}

.info article.description {
  width: 100%;
  padding: 20px;
  text-align: left;
}

.info footer {
  width: 100%;
  height: 92px;
  border-top: 1px solid gainsboro;
  display: flex;
  padding: 10px;
}

.info a {
  color: blue;
  margin: 0 4px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #082567; /* Sapphire */
  color: white;
}

@media (max-width: 1140px) {
  .container {
      width: 100%;
      padding: 0 20px;
  }
  .container2 {
      width: 100%;
      padding: 10px 20px;
  }
}

@media (max-width: 960px) {
  .container {
      width: 100%;
      padding: 10px 20px;
  }
  .container2 {
      flex-direction: column;
      padding: 20px;
      width: 100%;
  }
  .nav {
    height: calc(2 * 54px);
  }
  .nav ul {
    flex-direction: column;
  }
  .nav li {
    width: 100%;
  }

  .cards {
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .cards::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  .cards>article {
    min-width: 100%;
  }

  .filters {
    height: 90vh;
  }

}
